# Python中間生成物
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.venv/

# 成果物
dist/
build/

# MEGASync
.megaignore
desktop.ini

# 生ゲームデータなど
assets/hidden_fonts/
assets/gamedata/
assets/fonts/**/*.ttf
assets/fonts/**/*.swf

# フォントファイル
*.ttf
*.otf
*.ttc
*.otc

# ベースフォント例外許可
!data/base_fonts/skyrim/every.ttf
!data/base_fonts/skyrim/book.ttf
!data/base_fonts/skyrim/handwrite.ttf

# テストフォント例外許可
!tests/data/test-font/test-font-medium.ttf
!tests/data/test-font/test-font-bold.ttf
!tests/data/test-font/test-font-heavy.ttf
!tests/data/test-font2/test-font2.ttf

# 圧縮ファイル
*.zip
*.lzh
*.7z
*.rar

# 一般的に無視
*.bak
*.tmp
*.temp
